---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}
<hr size="2">
<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
      <p>{{ post.content | strip_html | markdownify | truncatewords:75 }}</p>
      <hr size="2">
    </li>
  {% endfor %}
</ul>
